body{
	line-height: 1.4;
}

.container{
	max-width: 90%;
	margin: 0 auto;
}

header{
	margin: 0 auto;
	max-width: 50%;
	text-align: center;
}

article{
	max-width: 40%;
}

article img{
	max-width: 100%;
}

/*attempt to wrap list items*/

ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
 
ul li:first-child {
    border-left: none;
}

ul li img{
	width: 100%;
}